// Body
$body-bg: #f8fafc;

// Typography
$font-family-playfair: 'Playfair Display', sans-serif;
$font-family-lato: 'Lato', sans-serif;
$font-family-SourcePro: 'Source Sans Pro', sans-serif;
$font-family-SongtiSC: 'Songti SC';

// Colors
$black: #0D121A;
$white: #ffffff;
$primary: #9FD067;
$lightBlue: #576273;
$lightgrey: #8F8F8F;

// media-breakpoint-down //
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
