// Variables
@import 'variables';
@import 'header';
@import 'landing';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-weight: 400;
    height: 100%;
    font-size: 14px;
    line-height: 1.5;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $black;
    background: $white;
    appearance: auto;
    -moz-appearance: auto;
    -webkit-appearance: auto;
    font-family: $font-family-playfair;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul{
    margin: 0;
    padding: 0;
    line-height: normal;
    list-style-type: none;
    text-decoration: none !important;
}
a{
    transition: all 0.3s ease-in-out;
    &:hover{
        opacity: 0.8;
    }
}
main{
    min-height: 700px;
}

// commen css start //  
.goobi-theme-btn-main{
    width: 160px;
    padding: 12px;
    border: 1px solid $primary;
    outline: none;
    box-shadow: none;
    background: $primary;
    font-family: $font-family-SourcePro;
    font-size: 14px;
    color: $white;
    letter-spacing: 2px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    font-weight: 700;
    border-radius: 4px;
    text-transform: uppercase;
    @include media-breakpoint-down(xs) {
        width: 145px;
        padding: 10px 12px;
    } 
    &:hover{
        opacity: 0.8;
        color: $white;
    }
    &.goobi-ourline-btn{
        background: transparent;
        border-color: $white;
        transition: all 0.3s ease-in-out;
        margin-left: 15px;
        &:hover{
            background: $primary;
            border-color: $primary;
        }
    }
}
.subtitle-main{
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.5px;
    color: $white;
    margin-bottom: 15px; 
    @include media-breakpoint-down(md) {
        font-size: 32px;
        line-height: 40px; 
    } 
    @include media-breakpoint-down(sm) {
        font-size: 28px;
        line-height: 33px; 
    } 
    @include media-breakpoint-down(xs) {
        font-size: 25px;
        line-height: 29px; 
    } 
}
.blog-title-main{
    font-size: 24px;
    line-height: normal;
    letter-spacing: 0.5px;
    color: $black;
    margin-bottom: 10px;
    font-weight: 500;
    @include media-breakpoint-down(lg) {
        font-size: 22px;
    } 
    @include media-breakpoint-down(md) {
        font-size: 20px;
    }
    @include media-breakpoint-down(sm) {
        font-size: 18px;
    } 
    @include media-breakpoint-down(xs) {
        font-size: 17px;
    }   
}
.sub-paragraph-text{
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.5px;
    color: $black;
    font-weight: 500;
    @include media-breakpoint-down(md) {
        font-size: 17px;
    }
    @include media-breakpoint-down(sm) {
        font-size: 16px;
    }  
}
.goobi-paragraph-text{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #0D121A;
    font-family: $font-family-lato;
}